@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
  }

body{
  display: block !important;
}

#root {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: #F0F0F0;
}

/*==menu==*/
.menu {
  width: 100%;
  height: 72px;
  background-color: #94C7BB;
  margin-bottom: 20px;
}

.menu h2{
    padding-top:20px;
    text-align:center;
}

/*==contenido==*/
.contenido {
  max-width: 600px;
  margin: 0 auto;
  padding:0 20px;
  min-height: 600px;
}

/*==Agregar==*/
.agregar {
  border: 1px solid #D7D7D7;
  padding: 12px 16px;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: #ffffff;
}

.agregar input{
    font-family: 'Montserrat', sans-serif;
    padding:5px;
    border-radius: 4px;
    border: 1px solid #D7D7D7;
}

.agregar input[type='text']{
    width:50%;
}
.agregar input[type='button']{
    width:25%;
}

/*==Tarjeta==*/
.tarjeta {
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #D7D7D7;
  border-radius: 4px;
  position: relative;
  margin-bottom: 8px;
}

input[type='checkbox']:checked + .checkLabel {
  color: #9B9B9B;
  text-decoration: line-through;
}